
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
@Html.ValidationMessage("LoginError")
@using (Html.BeginForm())
{
    <input type="hidden" value="@ViewBag.ReturnUrl" name="returnUrl"/>
    <label for="mobile">username:</label> <input name="mobile" id="mobile" />
    <label for="password">password:</label><input name="password" id="password" type="password" />
    <input type="hidden" name="autoLogin" value="0" id="autoLogin"/>
    <button type="submit" id="loginBtn">登录</button>
    <button type="button" id="autoLoginBtn">自动登录</button>
}
@section scripts{
    <script type="text/javascript">
        $(function() {
            $("#autoLoginBtn").click(function() {
                $("#autoLogin").val(1);
                $("#loginBtn").trigger("click");
            });
            if (getCookie("LoginInfo")!=null) {
                $.get("/Account/GetLoginInfo",
                    null,
                    function (result) {
                        var data = eval("(" + result + ")");
                        if (data.Data != null) {
                            var info = data.Data;
                            $("#mobile").val(info.Mobile);
                            $("#password").val(info.Password);
                        }
                    });
            }
            //获取cookie
            function getCookie(cookie_name) {
                var allcookies = document.cookie;
                var cookie_pos = allcookies.indexOf(cookie_name);   //索引的长度

                // 如果找到了索引，就代表cookie存在，
                // 反之，就说明不存在。
                if (cookie_pos != -1) {
                    // 把cookie_pos放在值的开始，只要给值加1即可。
                    cookie_pos += cookie_name.length + 1;      //这里容易出问题，所以请大家参考的时候自己好好研究一下
                    var cookie_end = allcookies.indexOf(";", cookie_pos);

                    if (cookie_end == -1) {
                        cookie_end = allcookies.length;
                    }

                    var value = unescape(allcookies.substring(cookie_pos, cookie_end));         //这里就可以得到你想要的cookie的值了。。。
                }
                return value;
            }
        });
    </script>
}